[ req ]
default_bits		    = 2048
default_md		        = sha256
#default_keyfile 	    = privkey.pem
distinguished_name	    = req_distinguished_name
req_extensions          = v3_req
prompt                  = no

[ req_distinguished_name ]
C                       = CA
ST                      = Ontario
L                       = Toronto
O                       = Google Canada
OU                      = Google Cloud Platform
CN                      = example.org
emailAddress            = srinandans@google.com

[ alt_names ]
DNS.1 = example.org
DNS.2 = localhost

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:TRUE
keyUsage         = nonRepudiation, digitalSignature, keyEncipherment, dataEncipherment
subjectAltName   = @alt_names

